
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    top: -10px;
    left: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
}

#tutorial {
    top: 45px;
    left: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
}

#myCanvas {
    padding: 0;
    margin: auto;
    display: block;
    /*background: #cdcdcd;*/
}

#settings {
    width: 200px;
    height: 400px;
    top: 200px;
    right: 0px;
    position: absolute;
}

#settings0 {
    width: 200px;
    height: 50px;
    top: 0px;
    right: 0px;
    text-align: center;
    position: absolute;
}

#settingsVPs {
    width: 200px;
    height: 75px;
    top: 50px;
    right: 0px;
    text-align: center;
    position: absolute;
}

#settingsDistortion {
    width: 200px;
    height: 75px;
    top: 125px;
    right: 0px;
    text-align: center;
    position: absolute;
}

#settingsBoxes {
    width: 200px;
    height: 75px;
    top: 200px;
    right: 0px;
    text-align: center;
    position: absolute;
}


#leftButtons {
    width: 200px;
    height: 400px;
    top: 200px;
    left: 0px;
    position: absolute;
}

#scoreText {
    width: 160px;
    height: 40px;
    top: 0px;
    left: 20px;
    text-align: center;
    position: left;
    font-size: 20px;
}

#checkBoxButton {
    width: 160px;
    height: 70px;
    top: 60px;
    left: 20px;
    text-align: center;
    position: absolute;
    font-size: 24px;
}

#showLinesButton {
    width: 140px;
    height: 40px;
    top: 150px;
    left: 30px;
    text-align: center;
    position: absolute;
}

#newBoxButton {
    width: 140px;
    height: 40px;
    top: 270px;
    left: 30px;
    text-align: center;
    position: absolute;
}

#showSolutionButton {
    width: 140px;
    height: 40px;
    top: 210px;
    left: 30px;
    text-align: center;
    position: absolute;
}